﻿@model IEnumerable<Modul3Vezbe1.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Engine.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodjac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kubikaza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Godiste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boja)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Engine.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proizvodjac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kubikaza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Godiste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Boja)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
