﻿@model IEnumerable<BookstoreRazor2.Models.Book>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@using (Html.BeginForm())
{
    <p>
         @Html.TextBox("SearchString") Find by Name or Price:  pretraga po

        @Html.DropDownList("FooBarDropDown", new List<SelectListItem>
            {
            new SelectListItem{ Text="Naziv", Value = "Naziv" },
            new SelectListItem{ Text="Cena", Value = "Cena" },
            },
               new { onchange = @"form.submit();" }
            )

    </p>

}

<table class="table" border="1">
    <tr>
        <th>
            @Html.ActionLink("Naziv", "/List", new { sortOrder = ViewBag.NazivSortParm })
        </th>

        <th>
            @Html.ActionLink("Cena", "/List", new { sortOrder = ViewBag.CenaSortParm })
        </th>

    </tr>

    @foreach (var item in Model)
    {
        if (item.IsDeleted == false)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Genre.Name
                </td>
                <td>
                    <a href="/book/Edit/@item.Id">Edit Book</a>
                </td>

                <td>
                    <a href="/book/Delete/@item.Id">Delete Book</a>
                </td>
            </tr>
        }
    }
</table>

<div>
    <a href="/Bookstore/AddBook">Link for Homepage</a>
</div>