﻿@model BookstoreRazor2.ViewModels.BookstoreBookGenreViewModel
@{
    ViewBag.Title = "ListByGenre";
}

<h2>ListByGenre</h2>


<form method="post">
    <div class="form-horizontal">
        <h4>Delete Genre:</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <label>Book Genres:</label>
                <select name="SelectedGenreId">
                    @foreach (var item in Model.GenresList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="List By Genre" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<table class="table" border="1">
    <tr>
        <th>
            Naziv:
        </th>

        <th>
            Cena:
        </th>

    </tr>

    @foreach (var item in Model.booksList)
    {
        if (item.IsDeleted == false)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Genre.Name
                </td>
                <td>
                    <a href="/book/Edit/@item.Id">Edit Book</a>
                </td>

                <td>
                    <a href="/book/Delete/@item.Id">Delete Book</a>
                </td>
            </tr>
        }
    }
</table>

<div>
    <a href="/Knjizara/ListaKnjiga">Link for Homepage</a>
</div>