﻿html, body {
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
    color: black;
}

table {
    width: 300px;
    height: 300px;
    position: fixed;
    margin-left: -150px;
    margin-top: -150px; 
    top: 50%;
    left: 50%;
}

a {
    margin-top: 500px;
    text-align: center;
}

body {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

header {
    background-color: #dc6c6c !important;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: #333;
    padding: 20px;
    z-index: -1;
}

footer {
    background-color: #dc6c6c;
    width: 100%;
    bottom: 0;
    position: absolute;
}