﻿@using Atomobili.Models
@model Atomobili.ViewModels.AutomobilTipMotoraViewModels

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<!--Ovo je isto sto i forma obicna sa post method-->
@using (Html.BeginForm("Create", "Automobil", FormMethod.Post))
{
<div class="form-horizontal">
    <h4>Automobil</h4>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.automobil.Proizvodjac)
            @Html.EditorFor(m => m.automobil.Proizvodjac, new { placeholder = "automobil proizvodjac", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.automobil.Proizvodjac)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.automobil.Model)
            @Html.EditorFor(m => m.automobil.Model, new { placeholder = "automobil model", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.automobil.Model)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.automobil.GodinaProizvodnje)
            @Html.EditorFor(m => m.automobil.GodinaProizvodnje, new { placeholder = "automobil godina proizvodnje", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.automobil.GodinaProizvodnje)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.automobil.Boja)
            @Html.EditorFor(m => m.automobil.Boja, new { placeholder = "automobil boja", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.automobil.Boja)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            @Html.LabelFor(m => m.automobil.Kubikaza)
            @Html.EditorFor(m => m.automobil.Kubikaza, new { placeholder = "automobil kubikaza", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.automobil.Kubikaza)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.automobil.TipMotora.Id, new SelectList(Model.TipMotora, "Id", "TipMotoraNaziv")) <!-- Cetvrti parametar bi bio defaultna vrednost presetovana za Edit page recimo treba da je vec setovana vrednost-->
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>