﻿@model Atomobili.Models.Automobil
@{
    ViewBag.Title = "Details";
}

<h2>Automobil Details</h2>


<div>
    <table class="table table-bordered">
        <tr>
            <th>
                Automobil Proizvodjac
            </th>
            <th>
                Automobil Model
            </th>
            <th>
                Automobil Godina Proizvodnje
            </th>
            <th>
                Automobil Boja
            </th>
            <th>
                Automobil Kubikaza
            </th>
            <th>
                Automobil Tip Motora
            </th>
        </tr>
        <tr>
            <td>
                @Model.Proizvodjac
            </td>
            <td>
                @Model.Model
            </td>
            <td>
                @Model.GodinaProizvodnje
            </td>
            <td>
                @Model.Boja
            </td>
            <td>
                @Model.Kubikaza
            </td>
            <td>
                @Model.TipMotora.TipMotoraNaziv
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to Automobil List", "Index")
</p>
