﻿@model IEnumerable<Atomobili.Models.Automobil>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString") Find by Proizvodjac or Model or Godina Proizvodnje or Kubikaza:  pretraga po

                @Html.DropDownList("FooBarDropDown", new List<SelectListItem>
                    {
                    new SelectListItem{ Text="Proizvodjac", Value = "Proizvodjac" },
                    new SelectListItem{ Text="Model", Value = "Model" },
                    new SelectListItem{ Text="GodinaProizvodnje", Value = "GodinaProizvodnje" },
                    new SelectListItem{ Text="Kubikaza", Value = "Kubikaza" },
                    },
                    new { onchange = @"form.submit();" }
                 )
    </p>

}

<h2>Automobili lista</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Proizvodjac", "/Index", new { sortOrder = ViewBag.ProizvodjacSortParm})
        </th>
        <th>
            @Html.ActionLink("Model", "/Index", new { sortOrder = ViewBag.ModelSortParm})
        </th>
        <th>
            @Html.ActionLink("Godina Proizvodnje", "/Index", new { sortOrder = ViewBag.GodinaProizvodnjeSortParm})
        </th>
        <th>
            Automobil Boja
        </th>
        <th>
            @Html.ActionLink("Kubikaza", "/Index", new { sortOrder = ViewBag.KubikazaSortParm})
        </th>
        <th>
            Automobil Tip Motora
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsDeleted == false)
        {
            <tr class="not-deleted">
                <td>
                    @item.Proizvodjac
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.GodinaProizvodnje
                </td>
                <td>
                    @item.Boja
                </td>
                <td>
                    @item.Kubikaza
                </td>
                <td>
                    @item.TipMotora.TipMotoraNaziv
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { Id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
<div>
  @Html.ActionLink("Add new automobil", "Create")
</div>