﻿@model IEnumerable<Atomobili.Models.Automobil>
@{
    ViewBag.Title = "ListDeletedAutomobil";
}

<h2>Lista Obrisanih Automobila</h2>


<table class="table" border="1">
    <tr>
        <th>
            Naziv:
        </th>
        <th>
            Cena:
        </th>
    </tr>
    @foreach (var item in Model)
    {
        if (item.IsDeleted == true)
        {
            <tr class="deleted-Automobile">
                <td>
                    @item.Proizvodjac
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.GodinaProizvodnje
                </td>
                <td>
                    @item.Boja
                </td>
                <td>
                    @item.Kubikaza
                </td>
                <td>
                    @item.TipMotora.TipMotoraNaziv
                </td>               
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Link for Homepage", "Index", new { controller = "Automobil" })
</div>