﻿@model Atomobili.ViewModels.AutomobilTipMotoraViewModels
@{
    ViewBag.Title = "ListByMotorType";
}

<h2>ListByMotorType</h2>

<form method="post">
    <div class="form-horizontal">
        <h4>Delete Genre:</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <label>Book Genres:</label>
                <select name="SelectedTipMotoraId">
                    @foreach (var item in Model.TipMotora)
                    {
                        <option value="@item.Id">@item.TipMotoraNaziv</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lista po tipu Motora" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<table class="table" border="1">
    <tr>
        <th>
            Naziv:
        </th>
        <th>
            Cena:
        </th>
    </tr>
    @foreach (var item in Model.automobili)
    {
        if (item.IsDeleted == false)
        {
            <tr>
                <td>
                    @item.Proizvodjac
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.GodinaProizvodnje
                </td>
                <td>
                    @item.Boja
                </td>
                <td>
                    @item.Kubikaza
                </td>
                <td>
                    @item.TipMotora.TipMotoraNaziv
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { Id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }
</table>
<div>
    @Html.ActionLink("Link for Homepage", "Index", new { controller = "Automobil" })
</div>