﻿@model BookstoreRazor2.Models.Genre
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="Edit" method="post">
    <table>
        <tr>
            <td>
                <label>Naziv:</label>
            </td>
            <td>
                <input type="text" name="Name" value="@Model.Name" required />
                <input type="hidden" name="Id" value="@Model.Id" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Sacuvaj izmene" />
            </td>
        </tr>
    </table>
</form>
