﻿@model BookstoreRazor2.ViewModels.BookstoreBookGenreViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form method="post">
    <div class="form-horizontal">
        <h4>Add new Genre:</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" class="form-control" name="Genre.Name" placeholder="Name of Genre" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/Knjizara/Napravi">Link for Homepage</a>
</div>