﻿@model BookstoreRazor2.Models.Genre
@{
    ViewBag.Title = "Delete";
}
<h2>Delete</h2>

h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Genre</h4>
    <hr />
    <div>
        <span>Da li zelite da obrisete kategoriju: <b>@Model.Name</b>?</span>
    </div>
    <form method="post">
        <!--akcija nije navedena buduci da je gore URL adresa vec na Delete sekciji-->
        <input type="hidden" value="@Model.Id" />
        <input type="submit" value="Obrisi" />
    </form>
    <br />
    @Html.ActionLink("Back to List", "Index")
</div>
