﻿@model BookstoreRazor2.Models.Genre

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Genre Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Genre Name
        </dt>

        <dd>
            @Model.Name
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
