﻿@model IEnumerable<BookstoreRazor2.Models.Genre>

@{
    ViewBag.Title = "Index";
}

<h2>Genre list</h2>
@Html.ActionLink("Dodaj novi zanr", "Create")
<table class="table">
    <tr>
        <th>
            Genre name
        </th>
        <th>
            Izmena
        </th>
        <th>
            Brisanje
        </th>
        <td>
            Detalji
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Izmeni", "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Obrisi", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Detalji", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<div>
    @Html.ActionLink("Link for Homepage", "ListaKnjiga", new { controller = "Knjizara" })
</div>