﻿@model IEnumerable<Hotel.Models.Rezervacija>
<table class="table">
    <tr>
        <th>
            Soba ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImeIPrezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otkazana)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Otkazana == false)
        {
            Html.RenderPartial("_RezervacijaItem", item);
        }

    }

</table>
