﻿@model Hotel.Models.Rezervacija

<tr>
    <td>
        @Html.DisplayFor(m => m.SobaId)
    </td>
    <td>
        @Html.DisplayFor(m => m.ImeIPrezime)
    </td>
    <td>
        @Html.DisplayFor(m => m.DatumOd)
    </td>
    <td>
        @Html.DisplayFor(m => m.DatumDo)
    </td>
    <td>
        NE
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" }) |
        @Html.ActionLink("Otkazi", "Otkazivanje", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" })
    </td>
</tr>