﻿@model Hotel.Models.Rezervacija

@{
    ViewBag.Title = "Otkazivanje";
}

<h2>Otkazivanje</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rezervacija</h4>
        <hr />
        @Html.HiddenFor(model => model.Id)

       
        <div class="form-group">
            <p class="control-label col-md-2"><strong>Otkazi</strong></p>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Otkazana)
   
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SobaId, "SobaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SobaId", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", disabled = "true" })
            
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
