﻿<header>
    @RenderPage("header.cshtml")
</header>
    <body>
        <div class="container body-content">
            @RenderBody()
            @RenderPage("footer.cshtml")

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
