﻿@model Atomobili.Models.TipMotora
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>

    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Naziv Tipa Motora</th>
        </tr>
        <tr>
            <td>@Model.TipMotoraNaziv</td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
