﻿@model Atomobili.Models.TipMotora
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "TipMotora", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Tip Motora</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.TipMotoraNaziv)
                @Html.EditorFor(m => m.TipMotoraNaziv, new { placeholder = "tip motora", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TipMotoraNaziv)
            </div>
        </div>
    </div>
}