﻿@model IEnumerable<Atomobili.Models.TipMotora>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<h2>Product categories list</h2>
@Html.ActionLink("Dodaj nov Tip Motora", "Create")
<table class="table">
    <tr>
        <th>
            Naziv tipa motora
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.TipMotoraNaziv
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { Id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { Id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
