
/*CSS stilovi za Strinicu Registracja*/

table{
	
	background-color: gray !important;
}

input{
	
  font-family: Arial;    
}

.naslovStranice{
	
	color: blue;
	font-size: 16px;
}

.tekstStranice{
	
	font-family: Tahoma;
	font-size: 10px;
}

.textZaglavljaTabele{
	
	color: blue;
	font-size: 14px;	
}

.textTabele{
	
	font-size: 12px;	
}

.neparniInput{
	
	background-color: #2e2f30;
}
.parniInput{
	
	background-color: #bfb9b9;
}


