﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: crimson !important;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
        color: white;
}
table {
    text-align: center;
}
html {
    display: table;
    margin: auto;
    width: 100%;
}

body {
    padding-top: 170px;
    display: table-cell;
    vertical-align: middle;
    width: auto;
}
input {
    float:right !important;
}

.form-control {
    float: left !important;
}
hr{
    width: 100% !important;
}
footer p {
    color: indianred;
}

td, select, .btn-default {
    color: indianred;
}
#SearchString {
    float: left !important;
    margin-right: 10px !important;
}