﻿@model Hotel.Models.Smestaj

<tr>
    <td>
        @Html.DisplayFor(m => m.Naziv)
    </td>
    <td>
        @Html.DisplayFor(m => m.Opis)
    </td>
    <td>
        @Html.DisplayFor(m => m.Adresa)
    </td>
    <td>
        @Html.DisplayFor(m => m.Ocena)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
    </td>
</tr>