* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: 0 auto;
  padding: 2.5em;
  width: 50%;
  text-align: center; }
  .container h1 {
    margin-bottom: 1em; }
  .container hr {
    margin: 10px 0; }
  .container input[type="text"] {
    width: 200px; }
  .container .edit_input {
    float: left;
    margin-right: 10px; }
  .container #row_input {
    width: 40px; }
  .container .user-table {
    width: 100%;
    text-align: center;
    margin: .5em auto; }
    .container .user-table thead {
      background: #000;
      color: #fff; }
    .container .user-table td {
      border: 1px solid #000; }

.gray {
  background-color: #777;
}

table, td {
  border: 1px solid black;
}

table {
  text-align: center;
}

td {
  margin: 5px;
  padding: 5px;
}


.bg {
    /* The image used */
    background-image: url("moviepict.png");

    /* Full height */


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

label, h1 {
 color: white !important;
}
.table,
.table tr,
.table td {
    background-color: white !important;
}