﻿@model SalonAutomobila.Models.Ugovor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ugovor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Proizvodjac:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvodjac.Naziv)
        </dd>

        <dt>
            Salon:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
