

/*CSS ZADATAK 2*/

body{
	background-color: #e0e0e0;
}

p{
	 font-family: Georgia, serif;
	 color: #f03030;
	 margin: 2px;
	 padding: 4px;
}

img{
	
	width: 157;
	height: 157;
	margin: 4px;
}

div{
	 border-color: red;
	 border-width: 1px;
	 border-style: solid;
     width: 165px;
	 float: left;
}

div p {
	text-align: center;
}

.textStranice{
	
	color: red;
	text-align: justify;
}
.pullock{
	  margin-left: 10px;
	  right: 10px;
	  float: right;
}

.mistPictureDiv{
	  margin-left: 10px;
	  right: 10px;
	  float: right;
	  max-width: 70%;
	  max-height: 70%;
	  min-width: 70%;
	  min-height: 70%;
}

.mistPictureImg{
	  width: 99%;
	  height: 98%;
	  margin-top: 5px;
	  margin-right: 5px;
}

.bgShimmeringSubstance { 
   
    background-image: url("./img/shimmering substance.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgFullFathomFive{
	background-image: url("./img/full fathom five.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgNumber8{
	background-image: url("./img/number 8.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



