
/*CSS ZADATAK 2*/

p{
	 font-family: Georgia, serif;
	 color: grey;
	 margin: 2px;
	 padding: 4px;
}

.Slider{
	background-image: url("./img/black-texture.jpg");
    width: 100%; 
	height: 20%;
	margin: 1px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Naslov{
	color: grey;
	font-size: 80px;
	text-align: center;
	font-weight: bold;
}

div{
     width: 30%;
	 float: left;
	 margin: 20px;
}
div p {
	text-align: center;
	text-align: justify;
}

hr{
	background-color: grey;
	height: 5px;
	margin: 1px;
	width: 100%;

}
.copyright{
	width: 100%;
	height: 3%;
	background-color: grey;
	margin: 1px;
	width: 100%
}
.copyright p{
	
	text-align: center;
	color: white;
}