﻿@model IEnumerable<SalonAutomobila.Models.Automobil>

@{
    ViewBag.Title = "CarsInSalonWithUgovor";
}

<h2>Automobili u Salonu koji ima Ugovor</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Proizvodjac.Naziv) Proizvodjac
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salon.Naziv) Salon
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GodinaProizvodnje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kubikaza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Boja)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proizvodjac.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salon.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GodinaProizvodnje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kubikaza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boja)
            </td>

        </tr>
    }

</table>
