﻿@model SalonAutomobila.Models.Automobil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Automobil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Proizvodjac @Html.DisplayNameFor(model => model.Proizvodjac.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvodjac.Naziv)
        </dd>

        <dt>
            Salon @Html.DisplayNameFor(model => model.Salon.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salon.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GodinaProizvodnje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GodinaProizvodnje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kubikaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kubikaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
