﻿@model BookstoreRazor2.ViewModels.BookstoreBookGenreViewModel
@{
    ViewBag.Title = "AddBook";
}

<h2>AddBook</h2>


<form method="post">
    <div class="form-horizontal">
        <h4>Add New Book:</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" class="form-control" name="Book.Name" placeholder="Name of Book" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="number" step="any" class="form-control" name="Book.Price" placeholder="Price of a Book" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Book Genres:</label>
                <select name="SelectedGenreId">
                    @foreach (var item in Model.GenresList)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/Bookstore/List">Show all books </a> | <a href="/Genre/Create">Add new Genre</a> | <a href="/Genre/Delete">Delete Genre</a>
</div>
