﻿@model BookstoreRazor2.ViewModels.BookstoreBookGenreViewModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


<form method="post">
    <div class="form-horizontal">
        <h4>Delete Genre:</h4>
        <hr />
         <div class="form-group">
            <div class="col-md-10">
                <label>Book Genres:</label>
                <select name="SelectedGenreId">
                    @foreach (var item in Model.GenresList)
                    {                   
                         <option value="@item.Id">@item.Name</option>             
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>