﻿@{
    ViewBag.Title = "Bookstore";
}

@{
    int brojac = Convert.ToInt32(ViewBag.knjige.Key);
    brojac++;
}

<h2>Add New Book:</h2>

<h3 style="color: blue">@TempData["status"]</h3>

<table border="1">
    <form method="post" action="/Bookstore/InsertNewBook">
        <tr bgcolor="lightgrey">
            <th>Add new book</th>
        </tr>
        <tr>
            <td><input type="hidden" name="id" value="@brojac"></td>
        </tr>
        <tr>
            <td>Name of book:<input type='text' name='name' value='' required /></td>
        </tr>
        <tr>
            <td>Price of book:<input type='text' name='price' value='' required /></td>
        </tr>
        <tr>
            <td>Genre of book:<select name='genre' value=''><option value='Science'> Science </option><option value='Comedy'> Comedy </option><option value='Horror'> Horror </option></select></td>
        </tr>
        <tr>
            <td><input type="submit" style="float:right" ; value="Add"></td>
        </tr>
    </form>
</table>

<a href='/Bookstore/ListaKnjiga'>Show all books</a> |
<a href='/Bookstore/ListaDeleted'>Show deleted books</a>
