﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">
    <tr bgcolor="lightgrey">
        <th>Naziv</th>
        <th>Cena</th>
        <th>Zanr</th>
    </tr>

    @foreach (Book knjiga in ViewBag.knjige.knjige.Values)
    {
        <tr>
            <td>@knjiga.Name</td>
            <td>@knjiga.Price</td>
            <td>@knjiga.Genre</td>
        </tr>
    }
</table>

