﻿@{
    ViewBag.Title = "ListaKnjiga";
}

<h2>List of Books:</h2>

@using (Html.BeginForm())
{
    <p>
        Find by Name or Price or Genre: @Html.TextBox("SearchString") pretraga po

        @Html.DropDownList("FooBarDropDown", new List<SelectListItem>
        {
            new SelectListItem{ Text="Naziv", Value = "Naziv" },
            new SelectListItem{ Text="Cena", Value = "Cena" },
            new SelectListItem{ Text="Zanr", Value = "Zanr" },
        },
            new{onchange = @"form.submit();"}
        )

    </p>


}

<table border="1">
    <tr bgcolor="lightgrey">

        <th>
            @Html.ActionLink("Naziv", "/ListaKnjiga", new { sortOrder = ViewBag.NazivSortParm })
        </th>

        <th>
            @Html.ActionLink("Cena", "/ListaKnjiga", new { sortOrder = ViewBag.CenaSortParm })
        </th>
        <th>
            @Html.ActionLink("Zanr", "/ListaKnjiga", new { sortOrder = ViewBag.ZanrSortParm })
        </th>
    </tr>

    @foreach (KeyValuePair<string, Book> knjiga in Model)
    {
        if (knjiga.Value.IsDeleted == "false")
        {
            <tr>
                <td>@knjiga.Value.Name</td>
                <td>@knjiga.Value.Price</td>
                <td>@knjiga.Value.Genre</td>
                <td><a href='/Bookstore/Delete/@knjiga.Value.Id'>delete</a></td>
            </tr>
        }

    }
</table>
<a href='/Bookstore/Index'>Link for homepage</a>
