﻿@{
    ViewBag.Title = "ListaDeleted";
}

<h2>List of Deleted Books:</h2>


<table border="1">
    <tr bgcolor="lightgrey">
        <th>Naziv</th>
        <th>Cena</th>
        <th>Zanr</th>
    </tr>

    @foreach (Book knjiga in ViewBag.knjige.knjige.Values)
    {
        if (knjiga.IsDeleted == "true")
        {
            <tr>
                <td>@knjiga.Name</td>
                <td>@knjiga.Price</td>
                <td>@knjiga.Genre</td>
            </tr>
        }

    }
</table>
<a href='/Bookstore/Index'>Link for homepage</a>