﻿@section Scripts {
    @Scripts.Render("~/Scripts/Skripta.js")
}

<div class="row">

    <div class="col-sm-4">
        <form method="post" action="post/" id="registracija">
            <h3>Registracija</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label>Potvrdi Lozinku</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Registracija</button>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <form method="post" action="post/" id="prijava">
            <h3>Prijava</h3>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Prijava</button>
            </div>
        </form>
    </div>
</div>

<br />
<div class="row">
    <div class="col-sm-4" id="odjava">
        <h3>Odjava</h3>
        <button class="btn btn-default" id="odjavise">Odjava</button>
    </div>
</div>

<p id="info"></p>
<div class="row proizvodi" style="display:none">
    <hr />
    <br />
    <button class="btn btn-default" id="proizvodi">Učitaj Proizvode</button>
    <div id="data">
    </div>
    <br />
    <div id="formDiv" style="display:none !important" class="d-flex justify-content-between">
        <form method="post" action="post/" id="proizvodForm">
            <p><label>Ime Proizvoda: <input id="proizvodIme"></label></p>
            <p><label>Proizvod cena: <input id="proizvodCena" type="number"></label></p>
            <p><label>Proizvod Datum: <input type="datetime-local" id="proizvodDatum" name="bday"></label></p>
            <br />
            <p><button class='btn btn-primary btn-sm'>Submit</button></p>
        </form>
    </div>
</div>
