﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Add Book", "Index", "Bookstore", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add Book", "Index", "Bookstore")</li>
                    <li>@Html.ActionLink("All Books", "List", "Bookstore")</li>
                    <li>@Html.ActionLink("All Books By Genre", "ListByGenre", "Bookstore")</li>
                    <li>@Html.ActionLink("List of Deleted Books", "ListDeletedBooks", "Book")</li>
                </ul>
                <p style="float:right; font-weight:bolder; font-size:27px; color: white; margin-top:5px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">BOOKSTORE</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
