﻿@using BookstoreRazor2.Models
@model BookstoreRazor2.ViewModels.BookstoreBookGenreViewModel
@{
    ViewBag.Title = "AddBook";
}
<h2>AddBook</h2>

<form method="post" action="/Knjizara/Napravi">
    <div class="form-horizontal">
        <h4>Add New Book:</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Book.Name)
                @Html.EditorFor(m => m.Book.Name, new { placeholder = "book name", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Book.Name)
                <!--  Moze umesto TextBoxFor da se stavi EditorFor da bi sam odradio na osnovu tipa podatka ovo je ADVACED -->
                <!-- a moze i Html.TextBoxFor(m => m.Product.Name)- ovo zamenjuje <input type="text" name="Product.Name" id="Product_Id" /> -->
                <!-- <input type="text" name="Product.Name" value="Model.Book.Name" placeholder="product category name" />-->
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Book.Price)
                @Html.EditorFor(m => m.Book.Price, new { placeholder = "book name", @class = "form-control" }) <!-- <input type="text" name="Product.Name" id="Product_Id" /> -->
                @Html.ValidationMessageFor(m => m.Book.Price)
                <!-- <input type="text" name="Product.Price" value="Model.Product.Price" placeholder="product category price" /> -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Book Genres:</label>
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Book.Genre.Id, new SelectList(Model.GenresList, "Id", "Name")) <!-- Cetvrti parametar bi bio defaultna vrednost presetovana za Edit page recimo treba da je vec setovana vrednost-->
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<div>
    <a href="/Knjizara/ListaKnjiga">Show all books </a> | <a href="/Genre/Create">Add new Genre</a> | <a href="/Genre/Delete">Delete Genre</a>
</div>
