﻿@model BookstoreRazor2.ViewModels.BookstoreBookGenreViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<form method="post">
    <div class="form-horizontal">
        <h4>Add New Book:</h4>
        <hr />
        <td><input type="hidden" name="Book.Id" value="@Model.Book.Id" /></td>
        <div class="form-group">
            <div class="col-md-10">
                <input type="text" class="form-control" name="Book.Name" value="@Model.Book.Name" placeholder="Name of Book" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="number" step="any" class="form-control" name="Book.Price" value="@Model.Book.Price" placeholder="Price of a Book" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Book Genres:</label>
                <select name="SelectedGenreId">
                    @foreach (var item in Model.GenresList)
                {
                    if (item.Id == Model.Book.Genre.Id)
                    {
                        <option selected value="@item.Id">@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>
                    }

                }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a href="/Bookstore/List">Show all books </a> | <a href="/Genre/Create">Add new Genre</a> | <a href="/Genre/Delete/">Delete Genre </a>
</div>
