﻿@model Hotel.Models.Soba
<tr>
    <td>
        @Html.DisplayFor(m => m.Smestaj.Naziv)
    </td>
    <td>
        @Html.DisplayFor(m => m.BrojSobe)
    </td>
    <td>
        @Html.DisplayFor(m => m.BrojKreveta)
    </td>
    <td>
        @Html.DisplayFor(m => m.CenaPoNocenju)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning btn-sm" }) |
        @Html.ActionLink("Details", "Details", new { id = Model.Id }, new { @class = "btn btn-info btn-sm" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger btn-sm" })
    </td>
</tr>