﻿@model IEnumerable<Hotel.Models.Soba>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Smestaj.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojSobe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BrojKreveta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CenaPoNocenju)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        Html.RenderPartial("_SobaItem", item);
    }

</table>
