﻿@using PagedList.Mvc
@model PagedList.IPagedList<Hotel.Models.Soba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p class="clearfix">
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary btn-lg" })
    <button id="filter" class="btn btn-default btn-lg pull-right">Filter</button>
</p>

<div id="filterForm" class="hidden">

    @using (Html.BeginForm("Filter", "Sobas", FormMethod.Post))
    {
        @Html.Label("Broj Kreveta")
        @Html.TextBox("BrojKreveta", null, new { @class = "form-control" })
        @Html.Label("Smestaj Naziv")
        @Html.TextBox("SmestajNaziv", null, new { @class = "form-control" })

        <input type="submit" class="btn btn-info" />
    }

</div>

<div class="well clearfix">

    <div class="col-md-6">
        <span>Sort Sobe:</span>
        @using (Html.BeginForm("Index", "Sobas", FormMethod.Get))
        {
            @Html.DropDownList("SortType", ViewBag.SortTypes as SelectList, new { @class = "form-control col-md-6" })
            <input type="submit" value="Sort" class="btn btn-warning" />
        }
    </div>
</div>

@{
    Html.RenderPartial("_SobaList");
}


@section scripts
{
    <script src="~/Scripts/MyFilter.js"></script>
}

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))