﻿@model IEnumerable<BookstoreRazor2.Models.Book>
@{
    ViewBag.Title = "ListDeletedBooks";
}

<h2>ListDeletedBooks</h2>
<hr />
<h4>Add New Book:</h4>

<table class="table" border="1">
    <tr>
        <th>
            Name:
        </th>
        <th>
            Price:
        </th>
        <th>
            Genre:
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.IsDeleted == true)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Genre.Name
                </td>
            </tr>
        }

    }
</table>

<div>
    @Html.ActionLink("Link for Homepage", "ListaKnjiga", new { controller = "Knjizara" })
</div>